.App {
  text-align: center;
}

body {
  font-family: "Courier New", Courier, monospace;
}

.news-header {
  font-family: "Old English Five", sans-serif;
  text-align: center;
  margin: 15px 30px;
}

.navbar {
  border-top: 3px solid;
  border-bottom: 3px solid;
  margin-bottom: 80px;
}
nav {
  text-align: center;
}

.article-container {
  margin-left: 30px;
}

.card {
  margin-bottom: 30px;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: black;
  color: white;
  font-weight: 500;
}
